<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net461" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net461" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net461" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net461" />
</packages>